<!-- app/views/favorites/index.html.erb -->
<h1>Meus Favoritos</h1>

<% if @favorites.present? %>
  <% @favorites.each do |favorite| %>
    <div class="favorite">
      <h2><%= favorite.roteiro.title %></h2>
      <p><%= favorite.roteiro.description %></p>
      <%= button_to 'Remover dos Favoritos', favorite_path(id: favorite.id), data: { "turbo-method": :delete, confirm: 'Tem certeza?' }, method: :delete %>
    </div>
  <% end %>
<% else %>
  <p>Nenhum favorito encontrado.</p>
<% end %>
