
.grid-fav {
	display: grid;
  grid-template-columns: 265px auto;
  grid-auto-rows: minmax(120px, auto);
  grid-gap: 10px;
  margin: 10px;
  row-gap: 10px;

}

.photo-fav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;

}

.favorites {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  p {
    color: black;
  }

}

.roteiros {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  p {
    color: black;
  }

}

.reviews {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  p {
    color: black;
  }

}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
  flex-wrap: nowrap;
}

.text {
  justify-content: left;
  text-align: left;
  flex-direction: row;
}

ul {
  list-style-type: none;
  padding-left: 0;

}

tr {
  text-align: center;
}

.edit-button {
  display: inline-block;
  padding: 1px 10px; /* Ajuste o padding conforme necessário */
  text-decoration: none;
  color: #333;
  background-color: #ddd;
  border: 1px solid #999; /* Ajuste a largura da borda conforme necessário */
  border-radius: 1px;
  transition: background-color 0.3s ease;

}

.edit-button:hover {
  background-color: #ccc;
  text-decoration: underline;
  padding: 2px 12px; /* Ajuste o padding conforme necessário */
}

.table-wrapper {
  overflow-y: auto;
  max-height: 300px;
  display: block;
}

h3  {
  color: black;
}

.fa-regular {
  color: black;
}

.favorite-title {


  h1 {
    color: white;
    padding-top: 15px;
    text-align: center;
    background-color: black;
    font-size: 3em;
  }
}
