
.grid-fav {
	display: grid;
  grid-template-columns: 360px auto;
  grid-auto-rows: minmax(120px, auto);
  grid-gap: 10px;
  margin: 10px;
  row-gap: 10px;

}

.photo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  border: solid 1px #e6e6e6;

}

.favorites {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: solid 1px #e6e6e6;
}

.roteiros {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid 1px #e6e6e6;
}

.reviews {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border: solid 1px #e6e6e6;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
}

.text {
  justify-content: left;
  text-align: left;
  flex-direction: row;
}

ul {
  list-style-type: none;
  padding-left: 0;

}
