  <h1>Itinerary</h1>
  <ul>
      <li><%= @roteiro.title %></li>
      <li><%= link_to 'Edit', edit_book_roteiro_path(@roteiro) %></li>
      <li><%= link_to 'Delete', book_roteiro_path, method: :delete, data: { turbo_method: :delete, confirm: "Are you sure you want to delete this itinerary?" } %></li>
  </ul>
  <%= link_to 'New Itinerary', new_book_roteiro_path %>
