
<div id="footer">
  <div class="container">
    <h1>TEXT1</h1>
    <h3>Detail text</h3>
  </div>
</div>

 <div class="footer-bottom">
  <small>© All rights reserved. Coded by The BookTown team!</small>
</div>
