
<div id="footer">
  <div class="container">
    <h2>TEXT1</h2>
    <h4>Detail text</h4>
  </div>
</div>

 <div class="footer-bottom">
  <small>© All rights reserved. Coded by The BookTown team!</small>
    <div class="social">
  <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="" target="_blank"><i class="fab fa-github"></i></a>
    <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
