
  <div id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>The BookTown</h3>
              <p>
                Paris St., France <br>
                025000-000, FR<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#" class="github"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>The BookTown</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      Designed by <strong>The BookTown awesome team!</strong>
      </div>
    </div>
  </div>
