<!-- footer -->
  <div id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h3 style="font-family: 'Tourney', sans-serif;">The BookTown Inc.</h3>
              <p>
                For entire world book lovers, from Brasil. <br>
                Land of Jorge Amado, Carlos Drummond de Andrade, Machado de Assis, Rachel de Queiroz and many others!<br><br>
                <strong>Phone:</strong> Me liga, me manda um Telegrama, uma carta de amor...<br>
                <strong>Email:</strong> contact@booktown.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.youtube.com/watch?v=8iZKUsUBYsg" class="fa fa-play-circle" aria-hidden="true" target="_blank"></a>
                <a href="https://github.com/lfpkaiser/bookmarket" class="fa fa-shopping-basket" aria-hidden="true" target="_blank"></i></a>
                <a href="https://www.youtube.com/watch?v=NwqYyDctCLA" class="fa fa-podcast" aria-hidden="true" target="_blank"></i></a>
                <a href="https://github.com/gwacherski/the_booktown" class="github" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.youtube.com/watch?v=afiA7xbvgvQ" class="fa fa-wheelchair" aria-hidden="true" target="_blank"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>The BookTown</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
      Designed by <strong>The BookTown awesome team!</strong>
      </div>
    </div>
  </div>
