 <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/images/back-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>The BookTown!</span></h2>
              <p class="animate__animated animate__fadeInUp">Search for you favorite book and start exploring the city!</p>
              <%# <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> %>
              <div class="search">
                <i class="fa fa-search"></i>
                <form action="<%= books_path %>" method="get">
                  <input type="text" name="query" class="form-control" placeholder="Search for your favorite book or author">
                  <button type="submit" class="btn">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Hero -->
