
.stars-rating {
  --gl-star-color: #fdd835;                     /* if using SVG images */
  --gl-star-color-inactive: #dcdce6;            /* if using SVG images */
  --gl-star-empty: url(../img/star-empty.svg);  /* if using background images */
  --gl-star-full: url(../img/star-full.svg);    /* if using background images */
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: .5em 1em;
  --gl-tooltip-size: 6px;
  --gl-star-size: 32px;
  pointer-events: none;
}


// *********************

@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #dfcaca url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  color: #ccc;
  //overflow:hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // padding: 150px 0;
  width: 100%;
  margin: 0 auto;
  //display: flex;
  //flex-direction: column;
   //justify-content: center;
   height: 100vh; /* Updated to 100vh */
  //  padding: 0 3rem;
   //align-items: center;
   background-size: cover; /* Added background size */
}

.container-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
  align-items: center;
}

h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: #aaa;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
