#footer {
  background-color: #585858;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;

  //teste
  flex-shrink: 0;

}

.footer-bottom {
  background-color: #666666;
  color: white;
  height: 50px;
  text-align: center
}

#footer .container h1 {
  color: white;
  font-weight: bold;
  width: 100%;
}

#footer .container h3 {
  color: #dee2e6b3;
}
