#footer {
  background-color: #585858;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
}


#footer .container h1 {
  color: white;
  font-weight: bold;
  width: 100%;
}

#footer .container h3 {
  color: #dee2e6b3;
}

 .footer-bottom {
  background-color: #666666;
  color: white;
  height: 40px;
  text-align: center;
}
